﻿* {
    box-sizing: border-box;
}

:root {
    --sk-color: rgba(255,255,255,0.8);
    --sk-size: 50px;
}

.loading-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1031;
}


.loading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.sk-wave{
    margin-bottom: 1rem;
}

.b {
    text-align: center;
}

.hint {
    color: #aaa;
    font-size: 0.9rem;
}

.error {
    color: #912222;
    font-size: 0.9rem;
}
.runhorse-box{
    height: 30px;
    margin-top: 0.5rem;
}

.ai-player-btn-group {
    padding: 0.25rem 0rem;
}

    .ai-player-btn-group > button {
        margin-right: 0.5rem;
    }


.ghost-btn {
    border: solid 0.5px rgba(255,255,255,0.5);
    color: #aaa;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
    .ghost-btn:disabled {
        background-color: rgba(255,255,255,0.05);
        color: #666;
    }


    .ghost-btn:hover {
        background-color: rgba(255,255,255,0.1);
        border: solid 0.5px rgba(255,255,255,0.8);
        color: #eaeaea;
    }

#btn-go-suggest {
    margin-top: 1rem;
}

.ai-player-gold {
    font-size: 0.8rem;
    color: #FFD700;
    vertical-align:middle;
}

    .ai-player-gold > img {
        width: 16px;
        height: auto;
        vertical-align: middle;
        margin-top: -3px;
    }


    .ai-player-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 16%;
    }

.ai-player-page {
    background-color: transparent;
    background-image: radial-gradient(circle farthest-corner at center, #333 0%, #111 100%);
    width: 100%;
    color: #eaeaea;
    height: 100%;
    overflow: auto;
}

.ai-player-h1 {
    font-size: 1.6rem;
    padding: 0.5rem;
}

.ai-player-h2 {
    padding: 0.5rem;
    font-size: 1.4rem;
}

.ai-player-search-singer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

    .ai-player-search-singer > input {
        background-color: transparent;
        border: none;
        border-bottom: solid 2px rgba(255,255,255,0.3);
        outline: none;
        padding: 0.5rem;
        color: #eee;
        min-width: 300px;
        margin-right: 8px;
        font-size: 1.2rem;
        margin-top: -8px;
    }

        .ai-player-search-singer > input:focus, .ai-player-search-singer > input:hover {
            border-bottom: solid 2px rgba(255,255,255,0.8);
        }


.ai-player-main {
    /*border-top: solid 0.5px rgba(255,255,255,0.5);
    border-bottom: solid 0.5px rgba(255,255,255,0.5);*/
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    background-color: rgba(255,255,255,0.03);
    padding-bottom: 76px;
    /*border-radius: 4px;*/
}

.ai-player-secion {
    margin: 0rem 0rem;
}

.ai-player-singer-list {
    max-width: 600px;
    margin: auto;
}

.aplayer-border,
#ai-player-step2,
.ai-player-top > h1 {
    transition: all .2s ease-in-out;
}

/*----歌手列表----*/
.ai-player-singer-item {
    display: inline-block;
    padding: 1.2rem;
    border-radius: 4px;
    vertical-align: top;
    width: 170px;
}

    .ai-player-singer-item:hover {
        background-color: rgba(255,255,255,0.1);
        cursor: pointer;
    }

        .ai-player-singer-item:hover > div {
            color: #eee;
        }

        .ai-player-singer-item:hover > img {
            opacity: 1;
        }

    .ai-player-singer-item > img {
        width: 80px;
        height: 80px;
        border: solid 1px rgba(255,255,255,0.2);
        border-radius: 50%;
        margin-bottom: 0.5rem;
        opacity: 0.6;
    }

    .ai-player-singer-item > div {
        color: #aaa;
        max-width: 180px;
        word-break: break-all;
    }



.ai-player-music-detail {
    display: inline-flex;
    max-width: 700px;
    text-align: left;
}

    .ai-player-music-detail > img {
        max-width: 200px;
        max-height: 200px;
        min-width: 100px;
        min-height: 100px;
        margin-right: 1.5rem;
        border-radius: 3px;
        border: solid 0.5px rgba(255,255,255,0.1);
    }

.ai-player-track-name {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bolder;
}

.ai-player-track-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}


.ai-player-artist-detail {
    display: flex;
    align-items: center;
    color: #999;
    flex: 1;
}

    .ai-player-artist-detail > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 0.5px rgba(255,255,255,0.1);
        margin-right: 0.5rem;
    }

.ai-player-artist-name {
    margin-right: 0.5rem;
}



/*----------------------*/
/*----rewrite player----*/
/*----------------------*/
.aplayer {
    color: #eee;
    background-color: #222;
    border: solid 0.5px rgba(255,255,255,0.5);
    border-radius: 4px;
}

    .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
        fill: #eee;
    }

    .aplayer.aplayer-withlist .aplayer-info {
        border-bottom: solid 0.5px rgba(255,255,255,0.3);
    }

    .aplayer .aplayer-list ol li {
        border-top: solid 0.5px rgba(255,255,255,0.3);
    }

        .aplayer .aplayer-list ol li:hover {
            background-color: rgba(255,255,255,0.3);
        }

        .aplayer .aplayer-list ol li .aplayer-list-author {
            color: #999;
        }

        .aplayer .aplayer-list ol li .aplayer-list-index {
            color: #aaa;
        }

        .aplayer .aplayer-list ol li.aplayer-list-light {
            background-color: rgba(255,255,255,0.1);
        }


/*---------------------- loader -------------------------------*/
.analysis{
    text-align: center;
}

.loader {
    margin: 1rem auto;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 700px;
    position: relative;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

    .inner.one, .inner.two, .inner.three {
        left: 0%;
        top: 0%;
    }

    .inner.one {
        animation: rotate-one 1s linear infinite;
        border-bottom: 2px solid #EFEFFA;
    }

    .inner.two {
        animation: rotate-two 1s linear infinite;
        border-right: 2px solid #EFEFFA;
    }

    .inner.three {
        animation: rotate-three 1s linear infinite;
        border-top: 2px solid #EFEFFA;
    }

.nucleus {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: white;
    top: calc(100% - 34px);
    left: calc(100% - 34px);
    position: absolute;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}