﻿* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei';
}

html, body, .body-content {
    height: 100%;
    overflow: auto;
}

.body-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.my-navbar {
    border-bottom: solid 1px rgba(0,0,0,0.2);
}

.table {
    color: #555;
    font-size: 0.8rem;
}

    .table td, .table th {
        padding: .35rem .75rem;
    }


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.nowarp {
    white-space: nowrap;
}

.limit {
    margin: auto;
    border: solid 1px rgba(0,0,0,0.5);
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

    .limit:hover {
        box-shadow: 0px 1px 6px rgba(0,0,0,0.8);
        opacity: 1;
    }

    .limit > .cover {
        width: 100%;
        max-height: 300px;
        width: auto;
    }

    .limit > .title {
        text-align: center;
        font-size: 18px;
        color: white;
        background-color: rgba(0,0,0,0.7);
        font-weight: bolder;
        padding: 5px;
    }

    .limit > .sub-title {
        text-align: center;
        color: white;
        font-size: 12px;
        background-color: rgba(0,0,0,0.7);
        padding: 10px;
    }

.content {
    margin-bottom: 76px;
    flex: 1;
    overflow-y: auto;
}

.flex-row {
    display: flex;
}

.card {
    width: 10rem;
    font-size: 0.9rem;
    margin: 0.5rem;
}

    .card:hover {
        cursor: pointer;
        background-color: #def;
    }


/* page to */
.link:hover {
    cursor: pointer;
    background-color: #def;
    text-decoration: underline;
}

/*index*/
.deashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .deashboard > h2 {
        margin-top: 1.5rem;
    }

.latestsong {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.latestsong-table {
    flex: 1;
    overflow-y: auto;
    border: solid 1px rgba(0,0,0,0.1);
    font-size: 0.9rem;
}

/*artist*/

.artist-header {
    margin: 1rem 0px;
    padding: 1rem 0px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(0,0,0,0.2);
}

    .artist-header > img {
        max-height: 200px;
        max-width: 200px;
        width: auto;
        height: auto;
        border: solid 1px rgba(0,0,0,0.2);
        border-radius: 4px;
    }

    .artist-header > h3 {
        padding: 0rem 1rem;
    }

.artist-albumtitle {
    margin: 0.5rem;
}

.album-item {
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 3px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

    .album-item > .album-info {
        font-size: 0.9rem;
        flex: 1;
        padding: 0px 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


.artist-album > .album-item:hover {
    background-color: #def;
    cursor: pointer;
}

.artist-album > .album-item > img {
    max-height: 130px;
    max-width: 130px;
    width: auto;
    height: auto;
    border-right: solid 1px rgba(0,0,0,0.2);
}



.album-info > .album-name {
    font-size: 1rem;
    font-weight: bolder;
}

.album-info > .album-comp {
    color: #999;
    font-size: 0.7rem;
    margin-top: 0.3rem;
}


/*album*/
.album-header {
    margin: 1rem 0px;
    padding: 1rem 0px;
    border: none;
    border-bottom: solid 1px rgba(0,0,0,0.2);
}
