﻿@{
    double v = DateTime.UtcNow.AddHours(8).Subtract(new DateTime(1970, 1, 1)).TotalSeconds;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Music Downloader</title>
    @Styles.RenderFormat("<link rel=\"stylesheet\" type=\"text/css\" href=\"{0}?v=" + v + "\"></link>", "~/Content/css")
    @RenderSection("CustomCSS", false)
    <script>
        window.ISDEBUG = @ViewBag.DEBUG;
        window.ISAIPLAYER = @ViewBag.ISAIPLAYER;
    </script>
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
</head>

<body>
    <div class="body-content">
        @RenderBody()
    </div>

    <div class="container fixed-bottom">
        <div id="aplayer"></div>
        <div id="aplayer2" style="display: block"></div>
    </div>

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + v + "\"></script>", "~/bundles/jquery")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + v + "\"></script>", "~/bundles/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + v + "\"></script>", "~/bundles/string-similarity")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + v + "\"></script>", "~/bundles/player")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + v + "\"></script>", "~/bundles/music")
    @RenderSection("CustomJS", false)
</body>
</html>
