﻿@{
    double v = DateTime.UtcNow.AddHours(8).Subtract(new DateTime(1970, 1, 1)).TotalSeconds;
}

@section CustomCSS{
    @Styles.RenderFormat("<link rel=\"stylesheet\" type=\"text/css\" href=\"{0}?v=" + v + "\"></link>", "~/Content/ai-player")
}

@section CustomJS{
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + v + "\"></script>", "~/bundles/ai-player")
}
@RenderPage("main.cshtml")