﻿<div class="ai-player-page">
    <div class="ai-player-top">
        <h1 class="b">AI. Player</h1>
        <p class="ai-player-gold" title="由 VK Music 提供高速的第二順位音樂資源">Powered by <img src="vk.png" > VK Music</p>
        <div class="runhorse-box">
            <p id="runhorse" class="runhorse hint b"></p>
        </div>
    </div>
    <div class="ai-player-main" id="ai-player-step1">

        <h1 class="ai-player-h1">喜歡哪位歌手?</h1>

        <form class="ai-player-search-singer" id="ai-player-form-search-singer">
            <input id="input-search-artist" type="search" autocomplete="off" placeholder="搜尋一位歌手..." />
            <button type="submit" class="ghost-btn">搜尋</button>
        </form>

        <div class="ai-player-secion" id="ai-player-singer-sample">
            <h2 class="ai-player-h2">沒想法嗎？看看作者推薦...</h2>
            <div class="ai-player-singer-list" id="ai-player-recommand-list"></div>
            <div><button id="btn_gostep2" class="ghost-btn">返回猜你喜歡</button></div>
        </div>

        <div class="ai-player-secion" id="ai-player-search-result">
            <h2 class="ai-player-h2">搜尋結果</h2>
            <div class="ai-player-singer-list" id="ai-player-search-result-list"></div>
            <button id="btn-go-suggest" class="ghost-btn">返回</button>
        </div>

    </div>


    <div class="ai-player-main" id="ai-player-step2">
        <h1 class="ai-player-h1">猜你喜歡</h1>
        <div class="ai-player-secion" id="ai-player-music"></div>
    </div>

</div>


<div class="loading-cover" id="loading-cover">
    <div class="loading-box">
        <div class="sk-wave">
            <div class="sk-wave-rect"></div>
            <div class="sk-wave-rect"></div>
            <div class="sk-wave-rect"></div>
            <div class="sk-wave-rect"></div>
            <div class="sk-wave-rect"></div>
        </div>
        <div id="loading-text"></div>
        <div>請再等候 <span id="time-back"></span> 秒</div>
    </div>
</div>