﻿<nav class="navbar navbar-expand-lg navbar-light my-navbar" style="background-color:transparent">
    <div class="container">
        <a class="navbar-brand" id="btn_home">
            <img class="d-inline-block align-top" src="/favicon.png" width="30" height="30" alt="">
        </a>

        <a class="navbar-brand" id="btn_back">
            <img class="d-inline-block align-top" src="/back.png" width="30" height="30" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline" id="search-form">
                        <div class="form-group mx-sm-3 mb-2">
                            <input class="form-control" type="search" placeholder="輸入歌手或歌名" id="search">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">搜尋</button>
                    </form>
                </li>
            </ul>
            <div>
                By <a href="https://github.com/LinZap/" target="_blank">ZapLin</a>
            </div>
        </div>
    </div>
</nav>



<div class="content vpage vpage-index">
    <div class="container deashboard">
        <h2>載入歌單</h2>
        <div class="section flex-row">
            <div class="card btn_loadplaylist" data-id="2718501202">
                <img class="card-img-top" src="/cover.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">英文經典流行歌單 Part 1 (Beta)</p>
                </div>
            </div>
            <div class="card btn_loadplaylist" data-id="2729453583">
                <img class="card-img-top" src="/cover.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">英文經典流行歌單 Part 2 (Beta)</p>
                </div>
            </div>
        </div>

        <h2>新歌速遞</h2>
        <div class="section latestsong">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-jp-tab" data-toggle="tab" href="#nav-jp" role="tab" aria-controls="nav-jp" aria-selected="true">日本最新</a>
                    <a class="nav-item nav-link" id="nav-ko-tab" data-toggle="tab" href="#nav-ko" role="tab" aria-controls="nav-ko" aria-selected="false">韓國最新</a>
                    <a class="nav-item nav-link" id="nav-ch-tab" data-toggle="tab" href="#nav-ch" role="tab" aria-controls="nav-ch" aria-selected="false">華語最新</a>
                    <a class="nav-item nav-link" id="nav-en-tab" data-toggle="tab" href="#nav-en" role="tab" aria-controls="nav-en" aria-selected="false">歐美最新</a>
                </div>
            </nav>
            <div class="tab-content latestsong-table" id="nav-tabContent ">
                <div class="tab-pane fade show active" id="nav-jp" role="tabpanel" aria-labelledby="nav-jp-tab"></div>
                <div class="tab-pane fade" id="nav-ko" role="tabpanel" aria-labelledby="nav-ko-tab"></div>
                <div class="tab-pane fade" id="nav-ch" role="tabpanel" aria-labelledby="nav-ch-tab"></div>
                <div class="tab-pane fade" id="nav-en" role="tabpanel" aria-labelledby="nav-en-tab"></div>
            </div>
        </div>
    </div>
</div>

<div class="content vpage vpage-search" id="result"></div>
<div class="content vpage vpage-album">
    <div class="container" id="albumpage">albumpage</div>
</div>
<div class="content vpage vpage-artist">
    <div class="container" id="artistpage">artistpage</div>
</div>


<!--<div class="limit" onclick="LimitPlay(this)" data-filename="K/DA - POP/STARS (ESAI Remix)" data-artist="Minwoo Lee" data-url="/api/download?uuid=e68300c9-880c-45f5-a919-000206946947" data-cover="/api/download?uuid=17ed637c-c87e-491a-88ed-d0388b89386c">
     <img class="cover" src="/api/download?uuid=17ed637c-c87e-491a-88ed-d0388b89386c" />
     <div class="title">Zap - 限時推出 (播放)</div>
     <div class="sub-title">K/DA - POP/STARS (ESAI Remix) - Minwoo Lee</div>
 </div>-->
